
.aboutSection{
  .slant-bg{
    width: 100%;
    height: 150px;
    transform: skew(0deg, 3deg);
    position: absolute;
    top: -50px;
  }

  img{
    width: 100%;
    height: 100%;
    display: block;
  }

  .aboutCard-content{}
    h3{
      margin-bottom: 30px;

      @media only screen and (min-width: 40.063em) and (max-width: 64em) {margin: 20px 0;}
    }
}

.teamSection{
  .slant-bg{
    width: 100%;
    height: 150px;
    transform: skew(0deg, -3deg);
    position: absolute;
    top: -50px;
  }

  .team-card{
    .founder-img{
      overflow: hidden;
      transition: all 0.4s ease;
      position: relative;

      width: 270px;
      height: 270px;
      display: flex;
      align-items: center;
      /* text-align: center; */
      background-color: #F1CF69;

      i {
        width: 100%;
        transition: 0.45s;
        font-size: 150px;
      }

      .img-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        background: transparent !important;
        cursor: pointer;

        &:before{
          position: absolute;
          left: -50%;
          top: 48%;
          display: block;
          margin: 0;
          height: 0%;
          width: 200%;
          background: #f1cf69;
          content: "";
          border-radius: 0;
          overflow: hidden;
          transform: rotate(45deg);
          opacity: 0.6;
          filter: alpha(opacity=60);
          transition: 0.65s;
        }
      }

      /* HOVER EFFECTS ON IMAGE AND OVERLAY */
      &:hover i{transform: scale(1.2);}

      &:hover .img-overlay:before{
        left: -70%;
        top: -100%;
        height: 400%;
        width: 200%;
        transform: rotate(45deg);
        transition: 0.6s;
      }
    }

    .founder-content{
      h4:hover{
        color: #F1CF69;
        cursor: pointer;
      }
    }
  }
}