
.home-main-banner{
    width: 100%;
    height: 100%;
    position: relative;
    .bannerSlider{
      width: 100%;
      height: 100%;

      .slide{
        min-height: 100%;
        position: relative;
        color: white;

        .banner-img{
          width:100%;
          min-height:100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center 60%;
        }

        .overlay{
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      #slide-1{
        .banner-img{
          background-image: url("../img/home/slider/slide-1.jpg");
        }
      }
      #slide-2{
        .banner-img{
          background-image: url("../img/home/slider/slide-2.jpg");
        }
      }
      #slide-3{
        .banner-img{
          background-image: url("../img/home/slider/slide-3.jpg");
        }
      }
      #slide-4{
        .banner-img{
          background-image: url("../img/home/slider/slide-4.jpg");
        }
      }

      .banner-tagline{
        position: absolute;
        width: 100%;
        bottom: 25%;
        padding: 50px 150px;

        @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 50px;}

        @media only screen and (max-width: 40em)  {
          padding: 20px;
          bottom: 25%;
        }

        h2{
          font: bold 4.375em/1em "Ubuntu", sans-serif;
          color: #fff;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {font: bold 2.375em/1em "Ubuntu", sans-serif;}
          @media only screen and (max-width: 40em)  { font: bold 2.375em/0.875em "Ubuntu", sans-serif;}
        }
        h5{
          font: bold 1.875em/1em 'Ubuntu', sans-serif;
          color: #fff;
          @media only screen and (min-width: 40.063em) and (max-width: 64em) {font: bold 1.5em/1em "Ubuntu", sans-serif;}
            @media only screen and (max-width: 40em)  {
              font: bold 0.975em/1em "Ubuntu", sans-serif;
              margin: 15px 0;
            }
        }
      }

      .slick-list, .slick-track {
        height: 100%;
      }

      .slick-slide {
        border: none !important;
      }

      .nav-prev, .nav-next {
        position: absolute;
        top: auto;
        bottom: 15%;
        cursor: pointer;
        z-index: 1;
        text-align: center;
        width: 40px;
        height: 40px;
        transition: all 0.65s ease-in-out;
        border: 3px solid #fff;

        @media only screen and (max-width: 40em) {
          bottom: 20%;
          background-color: #ffffff;
        }

        &:hover{
          background-color: #ffffff;
          i{color: #000000;}
        }

        i {
          color: #fff;
          font-size: 23px;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 33px;
          @media only screen and (max-width: 40em){color: #000000;}
        }
      }
      .nav-prev {
        left: 155px;
        right: auto;
        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
          left: 50px;
          right: auto;
        }
        @media only screen and (max-width: 40em) {
          left: 20px;
        }
      }
      .nav-next {
        left: 195px;
        right: auto;
        @media only screen and (min-width: 40.063em) and (max-width: 64em) {
          left: 90px;
          right: auto
        }
        @media only screen and (max-width: 40em) {
          left: 65px;
        }
      }
    }
  }

.home-product-section{
  .slant-bg{
    width: 100%;
    height: 150px;
    transform: skew(0deg, -3deg);
    position: absolute;
    top: -50px;
  }

  .section-header{
    margin-bottom: 25px;
  }

  .product-card{
    width: 100%;
    margin-top:25px; 
    @media only screen and (max-width: 40em) {margin-bottom: 25px;}

    .product-img{
      width:100%;
      display: block;
      overflow: hidden;
      transition: all 0.4s ease;
      position: relative;

      img {
        width: 100%;
        transition: 0.45s;
      }

      .img-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        background: transparent !important;
        cursor: pointer;

        &:before{
          position: absolute;
          left: -50%;
          top: 48%;
          display: block;
          margin: 0;
          height: 0%;
          width: 200%;
          background: #f1cf69;
          content: "";
          border-radius: 0;
          overflow: hidden;
          transform: rotate(45deg);
          opacity: 0.6;
          filter: alpha(opacity=60);
          transition: 0.65s;
        }
      }

      /* HOVER EFFECTS ON IMAGE AND OVERLAY */
      &:hover img{transform: scale(1.2);}

      &:hover .img-overlay:before{
        left: -70%;
        top: -100%;
        height: 400%;
        width: 200%;
        transform: rotate(45deg);
        transition: 0.6s;
      }
    }

    .price-tag{margin: 15px 0;}

    .product-content{
      h4{
        margin: 1.25rem 0 1rem 0;
        font-size: 1.5rem;
      }
    }

  }
}

.home-about-section{
  .slant-bg-1{
    width: 100%;
    height: 150px;
    transform: skew(0deg, 3deg);
    position: absolute;
    top: -50px;
    z-index:0;
  }

  .slant-bg-2{
    width: 100%;
    height: 150px;
    transform: skew(0deg, -3deg);
    position: absolute;
    bottom: -50px;
    z-index:1;
  }
}

.home-gallery-section{
  min-height: 100% !important;

  .bg-img{
    width: 100%;
    min-height: 120%;
    background-image: url("../img/home/gallery-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .gallery-navigation{
      ul{
        list-style: none;
        overflow: hidden;
        li{
          float: left;
          @media only screen and (max-width: 40em) {
            margin-bottom: 10px !important;
            width: 100%;
          }

          a{
            padding: 10px 30px;
            border: 3px solid white;
            color: #ffffff;
            display: block;
            background-color: transparent !important;
            transition: background-color 0.45s ease-in-out;

            &:hover{background-color: #F1CF69 !important;}
          }
        }
      }

      .tabs .tab-title.active a {
        background-color: #F1CF69 !important;
        color: #ffffff !important;
      }
    }

    .product-grid{
      
      @media only screen and (max-width: 40em) {margin-top: 0px;}


      .product-img{
        width:100%;
        display: block;
        overflow: hidden;
        transition: all 0.4s ease;
        position: relative;
        @media only screen and (max-width: 40em) {
          margin-bottom: 20px;
        }

        img{
          width: 100%;
          display: block;
          transition: 0.45s;
        }

        .product-overlay{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block !important;
          opacity: 1 !important;
          visibility: visible !important;
          background: transparent !important;
          cursor: pointer;
          padding:20px;

          &:before{
            position: absolute;
            left: -50%;
            top: 48%;
            display: block;
            margin: 0;
            height: 0%;
            width: 200%;
            background: #f1cf69;
            content: "";
            border-radius: 0;
            overflow: hidden;
            transform: rotate(45deg);
            opacity: 0.6;
            filter: alpha(opacity=60);
            transition: 0.65s;
          }
        }

        /* HOVER EFFECTS ON PRODUCT IMAGE AND OVERLAY */
        &:hover {
          img{
            transform: scale(1.2);
          }
          .product-desc{opacity: 1;}
        }

        &:hover .product-overlay:before{
          left: -70%;
          top: -100%;
          height: 400%;
          width: 200%;
          transform: rotate(45deg);
          transition: 0.6s;
        }

        .product-desc{
          position: relative;
          top: 50%;
          text-align: center;
          opacity: 0;
          transform: translateY(-50px);
          transition: opacity 0.65s linear;
        }
      }
    }
  }
}






