

.contactDetails-section{
  .slant-bg{
    width: 100%;
    height: 150px;
    transform: skew(0deg, -3deg);
    position: absolute;
    top: -50px;
  }

  .contactAddress{
    h5{margin: 0 0 25px 0;}
  }

  .contactForm{
    form{
      input,textarea{
        background-color: #f1cf69;
        border: 2px solid #ffffff;
        box-shadow: none;
        color: #ffffff;
        display: block;

        &:focus{border:3px solid #ffffff;}
      }
      ::-webkit-input-placeholder{
        color:#ffffff;
      }
      textarea{min-height: 200px;}

      .clear-btn,.send-btn{
        width: 100%;
        display: inline-block;
        background-color: #f1cf69;
      }
    }
  }

  .location-map{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    @media only screen and (max-width: 40em) {margin: 25px 0 !important;}
  }
  .location-map #map {
    height:500px;
    @media only screen and (max-width: 40em) {height: 350px;}
  }

}
