
  .productSection{
    .slant-bg{
      width: 100%;
      height: 150px;
      transform: skew(0deg, -3deg);
      position: absolute;
      top: -50px;
    }

    .product-header{
      h4{margin: 25px 0;}
    }

    .categoryList{
      .menu{
        list-style: none;

        .menu-items{
          margin-bottom: 10px;

          a{
            i{transition: all 0.45s linear;}
            span{transition: color 0.45s linear;}
            &:hover{
              i{
                color: #000000;
                transform: translateX(6px);
              }
              span{color: #000000;}
            }
          }
          span{margin-left: 10px;}
        }
      }


    }

    .enquirySection{
      .contactForm{
        form{
          input,textarea{
            background-color: #f1cf69;
            border: 2px solid #ffffff;
            box-shadow: none;
            color: #ffffff;
            display: block;

            &:focus{border:3px solid #ffffff;}
          }
          ::-webkit-input-placeholder{
            color:#ffffff;
          }
          textarea{min-height: 200px;}

          .clear-btn,.send-btn{
            width: 100%;
            display: inline-block;
            background-color: #f1cf69;

            &:focus{outline: 0 !important;}
          }
        }
      }
    }

  }
