
body, html {
  font-family: 'Ubuntu', serif !important;
}

h1,h2,h3,h4,h5,h6{font-family: 'Ubuntu', serif !important;}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #EFEFEF !important;
}

.row {
  max-width: 75rem;
}

.goldenrod{color: #FFBA00;}

/* BANNER SECTION */

.head-banner-section{
  height: 30%;
  .banner-bg{
    width: 100%;
    min-height:100%;
    background-image: url("../img/about/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section-1,.section-2,.section-3{
  width: 100%;
  height: auto;
  position:relative;
}

//.section-3{
//  width:100%;
//  min-height: 120%;
//}


/* CUSTOM MARGIN AND PADDING*/
.no-margin{margin: 0 !important;}
.custom-margin{margin: 25px 0 20px 0;}
.margin-b-20{margin-bottom:20px !important;}

.margin-top20{margin-top:20px;}

.med-only-margin-bottom20{
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {margin-bottom: 20px;}
}

.large-only-margin25{
  @media only screen and (min-width: 64.063em) and (max-width: 90em) {margin-top: 25px;}
}

.large-up-margin-t-25{
  @media only screen and (min-width: 90.063em) and (max-width: 120em) {margin-top:25px;}
}

.small-only-margin25 {
  @media only screen and (max-width: 40em) {
    margin: 25px 0 !important;
  }
}


.padding100{padding:100px 0;}
.padding50{
  padding:50px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) { }
  @media only screen and (max-width: 40em) { padding: 0 0 50px 0;}
}

.home-sec1-padding{
  padding: 70px 0 200px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 20px 0 150px 0;}
  @media only screen and (max-width: 40em) {padding: 0 0 100px 0;}
}
.home-sec2-padding{
  padding: 100px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 20px 0 50px 0;}
  @media only screen and (max-width: 40em) {padding: 0;}
}
.home-sec3-padding{
  padding: 150px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 120px 0;}
  @media only screen and (max-width: 40em) {padding: 100px 0 50px 0;}
}

.about-sec-padding{
  padding: 0 0 150px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 0 0 100px 0;}
  @media only screen and (max-width: 40em) {padding: 0 0 80px 0;}
}

.team-sec-padding{
  padding: 50px 0 150px 0;
  @media only screen and (max-width: 40em) {padding: 0 0 120px 0;}
}

.contact-sec-padding{
  padding: 50px 0 200px 0;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {padding: 20px 0 150px 0;}
  @media only screen and (max-width: 40em) {padding: 0 0 120px 0;}
}

.product-sec-padding{
  padding: 50px 0 150px 0;
  @media only screen and (max-width: 40em) {padding: 20px 0 150px 0;}
}

/* CUSTOM FONT FAMILY*/
.cursive-font{
  font-family: 'Pacifico',serif !important;
  font-size: 60px;
  @media only screen and (max-width: 40em) {font-size: 33px;}
}

.fontSize{font-size: 30px;}
.fontSize1{font-size: 1.05rem;}

.mob-header-font{
  font-weight: 500 !important;
  font-size: 0.975rem !important;
  font-family: ubuntu !important;
}

.mh-border-top{ border-top: 1px solid #4A4A49 !important;}

.small-only-font{
  @media only screen and (max-width: 40em) {font-size: 0.875rem;}
}

/* Background Color */
.bgColor-yellow{background-color: #F1CF69;}
.bgColor-black{background-color: #37353b;}

.whiteColor{color:#ffffff !important;}
.blackColor{color:#000000 !important;}


/* SECTION HEADER */
.section-header{
  margin-bottom: 50px;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {margin-bottom: 25px;}
  @media only screen and (max-width: 40em) {margin-bottom: 20px;}
}

/* READ MORE BUTTON HOVER EFFECTS*/
.read-more-btn,.clear-btn,.send-btn{
  padding: 10px 30px;
  display: inline-block;
  border: 4px solid #ffffff;

  @media only screen and (max-width: 40em){
    background-color: #ffffff !important;
    color: #f1cf69 !important;
  }

  &.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
  }
  &.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &.hvr-sweep-to-top:hover, &.hvr-sweep-to-top:focus, &.hvr-sweep-to-top:active {
    color: #f1cf69 !important;
  }
  &.hvr-sweep-to-top:hover:before, &.hvr-sweep-to-top:focus:before, &.hvr-sweep-to-top:active:before {
    transform: scaleY(1);
  }
  &:focus{outline: 0 !important;}
}


.stickyHeader{
  background-color: #37353B !important;
  height: 100% !important;
}


/* ANIMATIONS */

.fadeIn-animation,
.fadeInDown-animation,.fadeInDown-animation1,.fadeInDown-animation2,.fadeInDown-animation3,.fadeInDown-animation4,
.fadeInUp-animation1,.fadeInUp-animation2,.fadeInUp-animation3,
.bounceInRight-animation,
.fadeIn-animation1,.fadeIn-animation2,.fadeIn-animation3,
.fadeIn-animation4,.fadeIn-animation5,.fadeIn-animation6,
.flipInY-animation1,.flipInY-animation2,.flipInY-animation3,.flipInY-animation4,
.fadeInUpBig-animation1,.fadeInUpBig-animation2,
.fadeInUpBig-animation3,.fadeInUpBig-animation4,
.rotateInUpLeft-animation,
.fadeInRightBig-animation1,.fadeInRightBig-animation2{
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {animation-name: fadeIn;}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeInDown {animation-name: fadeInDown;}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {animation-name: fadeInUp;}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.bounceInRight {animation-name: bounceInRight;}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {animation-name: fadeIn;}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

.fadeInUpBig {animation-name: fadeInUpBig;}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.rotateInUpLeft {animation-name: rotateInUpLeft;}
@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0deg);
    opacity: 1;
  }
}

.fadeInRightBig {animation-name: fadeInRightBig;}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.small-only-height70{
  @media only screen and (max-width: 40em) {height: 70px !important;}
}
.height100-percent{height: 100%;}



.add-dropdown{
  margin: 30px 0 0 0;
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  height: 0;
  background: transparent;
  transition: all .2s ease-in-out;
}


.valign{
  display: flex;
  align-items:center;
  flex-wrap:wrap;
}


a[data-readmore-toggle]{
  color: #ffffff;
  padding: 10px;
  border: 3px solid #ffffff; 
  display: inline !important;
}

