
.footer-section{
  position: relative;

  .slant-bg-1{
    width: 100%;
    height: 150px;
    transform: skew(0deg, 3deg);
    background-color: #ffffff;
    position: absolute;
    top: -85px;
  }

  .logo{
    @media only screen and (max-width: 40em) {
      width: 70%;
      margin: 0 auto;
    }
    img{
      width: 200px;
      display: inline-block;

      @media only screen and (max-width: 40em) {width: 100%;}
    }
  }

  .note{
    margin: 15px 0;
    @media only screen and (max-width: 40em) {
      margin: 25px 0 !important;
    }
  }

  .contactDetails{
    h5{margin: 0 0 20px 0;}
  }

  .social-icons{
    @media only screen and (max-width: 40em) {
      text-align: center;
    }
    ul{
      overflow: hidden;
      list-style: none;
      margin: 30px 0 0 0;
      @media only screen and (min-width: 40.063em) and (max-width: 64em) {display: inline-block;}
      @media only screen and (max-width: 40em) {display: inline-block;}
      li{
        padding: 0 10px;
        a{
          display: block;
          color: #F1CF69;

          &:hover{
            transform: scale(1.2);
            color: #302e33;
            transition: all 0.45s ease-in-out;
          }

          i{
            font-size: 30px;
            line-height: 33px;
          }
        }
      }
    }

    h6{
      margin: 25px 0 0 0;
      @media only screen and (max-width: 40em) {margin: 0 !important;}

      a:hover{
        span{color:#FFBA00;}
      }
    }
  }
}
