
/*LARGE DEVICE HEADER*/
.proteinStation-header {
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .header-wrapper {
    padding: 10px 0;
    height: 0;
    background-color: transparent;
    transition: all 0.35s ease-in-out;

    nav {
      overflow: visible;

      .brand-logo {
        width: 30%;
        .brand-img {
          display: block;
          img {
            width: 100px;
            display: block;
          }
        }
      }

      .navigation-bar {
        width: 70%;
        .nav-menu {
          list-style: none;
          overflow: visible;

          .navMenu-item {
            position: relative;
            float: left;
            padding: 20px 15px 20px 15px;
            list-style: none;
            .navMenu-link{
              font-weight: 500;
              display: inline-block;
              overflow: hidden;
              position: relative;
              transition: color 300ms linear;
              line-height: 35px;

              &:before{
                width: 0;
                height: 3px;
                transition: width 300ms linear;
                content: '';
                position: absolute;
                background-color: #ffffff;
                display: block;
                bottom: 0;
                left: 0;
              }
            }
            .navMenu-link:hover::before{
              width: 100%;
              color: #F1CF69;
            }

            .productMenu{
              list-style: none;
              margin: 30px 0 0 0;
              opacity: 0;
              visibility: hidden;
              min-width: 100%;
              height: 0;
              background: transparent;
              transition: all .2s ease-in-out;
              position: relative;
              left: 15px;
              position: absolute;
              top: 60px;

              &::before{
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border: inset 5px;
                border-color: rgba(255, 255, 255, 0) transparent rgb(2, 2, 2) transparent;
                border-top-style: solid;
                margin-top: -10.5px;
                top: 0;
                left: 0px;
              }
              .productMenu-item{
                transition: all 0.65s ease-in-out;
                background: #000;
                width: 100%;
                line-height: 35px;
                height: 35px;
                border-bottom:1px solid #333333;
                .productMenu-link{
                  padding: 0 10px;
                  white-space: nowrap;
                  line-height: 35px;
                  transition: color 0.45s ease-in-out;
                  &:hover{color: #F1CF69 !important;}
                }
              }
            }

            .slideMenu{
              z-index: 99 !important;
              opacity: 1;
              visibility: visible;
              margin: 0;
              height: 100% !important;
              background: #000 !important;
            }
          }
        }
      }
    }
  }
}



/* MOBILE HEADER */
.mobile-header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #333333;

  .top-bar{
    height: 70px;
    transition: all 300ms ease-out;
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      width: 90% !important;
      margin: 0 auto !important;
    }
    &.expanded{
      height: 300px;
      background: transparent;
    }

    .title-area{
      height: 70px;
      .brand-img{
        img{
          height:100%;
          margin-top: 10px;
        }
      }

      .toggle-topbar{
        left: 0 !important;
        right: auto !important;
        a{padding: 10px 22px !important;}
      }
    }

    .top-bar-section{
      .menu{
        .menu-items > a{padding:0.5rem 0.9375rem !important;}

        .has-dropdown{
          a:after{
            @media only screen and (min-width: 40.063em) and (max-width: 64em) {
              margin-top: 6.5px !important;
              right: -15px !important;
            }
          }
          .dropdown{
            @media only screen and (min-width: 40.063em) and (max-width: 64em) {display: none;}
            .parent-link{
              text-align: center;
              font-weight: 500 !important;
              font-size: 0.975rem !important;
              font-family: ubuntu !important;
              border-top: 1px solid #4A4A49 !important;
            }
          }
        }
      }
    }
  }

}